body{
    background-image: url(sp1.jpg);
    
}
#PLUTO{
    width: 700px;
    height: 700px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 5px auto;
    position: relative;
   animation-name: pluto;
   animation-delay: none;
   animation-timing-function: linear;
   animation-duration: 25s;
   animation-iteration-count: infinite;
   animation-direction: normal;
}
@keyframes pluto{
    from{
        transform: rotate(360deg);
    }
}
#pt{
    height:30px;
    width: 30px;
    margin-left: 280px;
   margin-top: -9px;
   position: absolute;
   
   


}

#NEPTUNE{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 2px solid white;
    margin: -650px auto;
    /* margin-top: 70px; */
    position: relative;
    animation-name: pluto;
   animation-delay: none;
   animation-timing-function: linear;
   animation-duration: 24s;
   animation-iteration-count: infinite;
   animation-direction: normal;

}


#me{
    height:25px;
    width: 25px;
    margin-left:  280px;
   margin-top: -10px;
   position: absolute;
   animation-name: rotator;
    animation-duration: 15s;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
}


#URANUS{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 80px auto;
    /* margin-top: 70px; */
    position: relative;
    animation-name: pluto;
   animation-delay: none;
   animation-timing-function: linear;
   animation-duration: 25s;
   animation-iteration-count: infinite;
   animation-direction: normal;
    

}
#ur{
    height: 25px;
    width: 25px;
    margin-left:280px;
   margin-top: -9px;
   position: absolute;
}
#SATURN{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 2px solid white;
    margin: -550px auto;
    /* margin-top: 70px; */
    position: relative;
    animation-name: pluto;
   animation-delay: none;
   animation-timing-function: linear;
   animation-duration: 25s;
   animation-iteration-count: infinite;
   animation-direction: normal;
    

}
#sa{
    height: 25px;
    width: 25px;
    margin-left:280px;
   margin-top: -1px;
   position: absolute;
}


#JUPITER{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 120px auto;
    /* margin-top: 70px; */
    position: relative;
    animation-name: pluto;
   animation-delay: none;
   animation-timing-function: linear;
   animation-duration: 25s;
   animation-iteration-count: infinite;
   animation-direction: normal;
    

}
#ju{
    height: 25px;
    width: 25px;
    margin-left:280px;
   margin-top: 10px;
   position: absolute;
}

#mar{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid white;
    margin: -500px auto;
    /* margin-top: 70px; */
    position: relative;
    animation-name: pluto;
   animation-delay: none;
   animation-timing-function: linear;
   animation-duration: 25s;
   animation-iteration-count: infinite;
   animation-direction: normal;
    

}
#mr{
    height: 25px;
    width: 25px;
    margin-left:280px;
   margin-top: 30px;
   position: absolute;
}
#earth{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 170px auto;
    /* margin-top: 70px; */
    position: relative;
    animation-name: pluto;
   animation-delay: none;
   animation-timing-function: linear;
   animation-duration: 25s;
   animation-iteration-count: infinite;
   animation-direction: normal;
    

}
#ear{
    height: 25px;
    width: 25px;
    margin-left:280px;
   margin-top: 78px;
   position: absolute;
}

#ven{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid white;
    margin: -450px auto;
    /* margin-top: 70px; */
    position: relative;
    animation-name: pluto;
   animation-delay: none;
   animation-timing-function: linear;
   animation-duration: 25s;
   animation-iteration-count: infinite;
   animation-direction: normal;
    

}
#ve{
    height: 25px;
    width: 25px;
    margin-left:235px;
    margin-top: 100px;
    position: absolute;
   

}

#sun{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 220px auto;
    /* margin-top: 220px; */
    position: relative;
   
   

    
    

}
#su{
    margin-top: -30px;
    height: 230px;
    width: 300px;
    margin-left:-50px;
    position: absolute;


}

marquee{
    background-color: white;
    color: black;
    font-size: x-large;
    
 
}